* {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: "Smooch Sans", sans-serif;
}

section {

    height: auto;
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;

}



.sectionProjectsMotion {

    padding-top: 75px;
}



.projects {

    height: 700px;
    width: 600px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.projects h1 {

    width: 100px;
    height: 30px;
    position: relative;
    top: 70px;
    right: 200px;
}

.projects .edm {

    width: 100%;
    max-width: 100%;
    height: 500px;
    position: relative;
    top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;

}

.projects .edm img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
}

.projects .edm img:hover {

    transform: scale(1.03);
    transition: 0.7s;
}

.projects .edm h3 {

    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    top: 20px;
}

.projects .edm p {

    position: relative;
    justify-content: center;
    text-align: justify;
    font-weight: 300;
    width: 500px;
    top: 40px;
    font-size: 20px;

}


.derechosReservados2 {
    position: relative;
    top: 160px;
    left: 0;
    width: 100%;
    text-align: center;

}

@media(max-width: 920px) {

    .sectionProjectsMotion {
        padding-top: 200px;
    }

    .projects {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem;
        height: auto;
    }

    .projects h1 {

        padding-left: 5rem;
    }

    .edm {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.5rem;
        height: auto;
    }

    .projects .edm img {
        width: 340px;
    }

    .projects .edm h3 {

        padding-top: 1.5rem;
    }

    .projects .edm p {

        font-size: 1.5rem;
        width: 100%;
    }

}